<!DOCTYPE html>
<html>
  <head>
    <title>Cahootz</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'session', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= yield %>


  </body>
</html>
